{{> head }}
{{> navbar }}

   <div class="row">

       <div class="col-8">
            <h1>Escritorio Moderno</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis ullam inventore animi earum, vel sed dolorem fugiat eaque ea, voluptate itaque? Commodi minima, inventore dolores sed amet perferendis quo aperiam!
            </p>
       </div>

       <div class="col-4">
          <img src="assets/img/escritorio.jpg" class="img-thumbnail">
       </div>


   </div>


{{> footer }}